:root {
    --off-white: #fafafa;
    --black: #1a1a1a;
    --dark-grey: #333333;
}

body {
    background: var(--black);
}

#header {
    background: var(--dark-grey);
    color: var(--off-white);
}

#left-area, #right-area {
    color: var(--off-white);
}

#typing-area {
    background: var(--dark-grey);
    color: var(--off-white);
}