:root {
  --white: #fff;
  --off-white: #fafafa;
  --black: #0d0d0d;
  --dark-grey: #1a1a1a;
}

body {
  background: var(--black);
}

#header {
  background: var(--dark-grey);
  color: var(--white);
}

#left-area,
#right-area,
#results {
  color: var(--white);
}

#typing-area {
  background: var(--dark-grey);
  color: var(--white);
}

.correct {
  color: #06d6a0;
}

.incorrect {
  color: #ef476f;
}

.divider-inline-v {
  color: rgba(255, 255, 255, 0.2);
}
