:root {
  --light-grey: #eaeaea;
  --off-white: #fafafa;
  --black: #1a1a1a;
  --dark-grey: #333333;
}

body {
  background: var(--off-white);
}

#header {
  background: var(--light-grey);
  color: var(--black);
}

#left-area,
#right-area,
#results {
  color: var(--black);
}

#typing-area {
  background: var(--light-grey);
  color: var(--black);
}

.correct {
  color: #06d6a0;
}

.incorrect {
  color: #ef476f;
}

.divider-inline-v {
  color: rgba(0, 0, 0, 0.2);
}
